* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;

}
body {
  background: yellow;
  height: 90vh;
}

.container {
  margin-top: 10em;
  text-align: center;
}

#border {
  background: white;
  display: inline-block;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px;
}

input#display {
  display: inline-block;
  border: 0;
  background: rgb(230, 228, 228);
  margin-bottom: 10px;
  padding: 15px;
} 

#num-values button {
  font-size: 24px;
  background: blue;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

button {
  height: 50px;
  width: 50px;
  margin: 0 5px 5px 0;
}